ambient: 0.15
camera:
	position: [0.0 5.0 25.0]
	spot: [0.0 -4.0 0.0]
	up: [0.0 1.0 0.0]
shapes: [
# BALLS
	{
		type: "sphere"
		radius: 1.0
		position: [-4.0 -4.0 12.0]
		glossiness: 1.0
		shininess: 20.0
		color: "0x00c62140"
		reflectivity: 0.5
	}
	{
		type: "sphere"
		radius: 1.0
		position: [0.0 -4.0 12.0]
		glossiness: 1.0
		shininess: 20.0
		color: "0x0025c620"
		reflectivity: 0.5
	}
	{
		type: "sphere"
		radius: 1.0
		position: [4.0 -4.0 12.0]
		glossiness: 1.0
		shininess: 15.0
		color: "0x003720c6"
		reflectivity: 0.5
	}
	{
		type: "sphere"
		radius: 2.0
		position: [0.0 0.0 5.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00cc00cc"
		reflectivity: 0.5
	}
# WALLS, FLOOR, CEIL
	{
		type: "plane"
		normal: [0.0 0.0 1.0]
		position: [0.0 0.0 -15.0]
		color: "0x00fdb3bc"
	}
	{
		type: "plane"
		normal: [0.0 1.0 0.0]
		position: [0.0 -5.0 0.0]
		color: "0x00bec8f6"
		reflectivity: 0.3
	}
# COLUMNS
	{
		type: "cylinder"
		radius: 2.0
		position: [-8.0 0.0 8.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [8.0 0.0 8.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [-8.0 0.0 0.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [8.0 0.0 0.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [-8.0 0.0 -8.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [8.0 0.0 -8.0]
		direction: [0.0 1.0 0.0]
		glossiness: 0.5
		shininess: 5.0
		color: "0x00a1abba"
	}
]
lights: [
	{
		type: "point"
		position: [5.0 5.0 25.0]
		attenuation: [1.2 0.008 0.002]
		intensity: 0.5
		color: "0x00ffffff"
	}
	{
		type: "point"
		position: [-5.0 5.0 25.0]
		attenuation: [1.2 0.008 0.002]
		intensity: 0.5
		color: "0x00ffffff"
	}
]