camera:
	position: [0.0 0.0 0.0]
	spot: [5.0 0.0 -14.0]
	up: [0.0 1.0 0.0]
geometry: [
	{
		primitive: "cone"
		angle: 15.0
		position: [0.0 0.0 -12.0]
		direction: [0.0 0.0 -1.0]
		color: "0x00823382"
	}
	{
		primitive: "sphere"
		radius: 2.0
		position: [5.0 0.0 -14.0]
		color: "0x00823322"
	}
	{
		primitive: "plane"
		position: [0.0 0.0 -17.0]
		normal: [0.0 0.0 1.0]
		color: "0x00808080"
	}
]
light: [
	# {
	# 	type: "directional"
	# 	direction: [0.0 -1.0 0.0]
	# 	color: "0x00ffffff"
	# 	intensity: 1.0
	# }
	{
		type: "point"
		position: [0.0 -5.0 -10.0]
		attenuation: [1.0 0.0 0.0]
		color: "0x00FFFFFF"
		intensity: 0.3
	}
	{
		type: "point"
		position: [-5.0 -5.0 -10.0]
		attenuation: [1.0 0.0 0.0]
		color: "0x00FF0000"
		intensity: 0.3
	}
	{
		type: "point"
		position: [5.0 -5.0 -10.0]
		attenuation: [1.0 0.0 0.0]
		color: "0x000000FF"
		intensity: 0.3
	}
]