camera:
	position: [10.0 10.0 10.0]
	spot: [0.0 2.0 0.0]
	up: [0.0 1.0 0.0]
geometry: [
	{
		primitive: "sphere"
		radius: 1.5
		position: [0.0 1.5 2.0]
		color: "0x00750e08"
		shininess: 30.0
		glossiness: 2.0
	}
	{
		primitive: "plane"
		normal: [0.0 1.0 0.0]
		position: [0.0 0.0 0.0]
		color: "0x00aaaaaa"
	}
	{
		primitive: "plane"
		normal: [0.0 0.0 1.0]
		position: [0.0 0.0 -15.0]
		color: "0x000000ff"
	}
	{
		primitive: "cone"
		angle: 35.0
		direction: [-1.5 2.0 0.0]
		position: [2.0 2.0 0.0]
		color: "0x00ffff00"
		shininess: 30.0
		glossiness: 2.0
	}
	{
		primitive: "cone"
		angle: 35.0
		direction: [1.5 -2.0 0.0]
		position: [2.0 2.0 0.0]
		color: "0x00ffff00"
	}
	{
		primitive: "cylinder"
		radius: 1.0
		direction: [1.0 1.0 -1.0]
		position: [-4.0 0.0 4.0]
		color: "0x00087508"
	}
]
light: [
	{
		type: "point"
		position: [5.0 1.0 10.0]
		attenuation: [0.8 0.005 0.008]
		intensity: 1.0
		color: "0x00ffffff"
	}
]