ambient: 0.15
camera:
	position: [0.0 2.0 30.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
shapes: [
# BALL
	{
		type: "sphere"
		radius: 1.5
		position: [0.0 -5.0 10.0]
		color: "0x00ee3333"
		shininess: 40.0
		glossiness: 5.0
	}
# WALLS, FLOOR, CEIL
	{
		type: "plane"
		normal: [0.0 0.0 1.0]
		position: [0.0 0.0 -15.0]
		color: "0x000000ff"
	}
	{
		type: "plane"
		normal: [0.0 1.0 0.0]
		position: [0.0 -7.0 0.0]
		color: "0x00a1abba"
	}
	{
		type: "plane"
		normal: [0.0 -1.0 0.0]
		position: [0.0 7.0 0.0]
		color: "0x00555555"
	}
# COLUMNS
# 1
	{
		type: "sphere"
		radius: 3.0
		position: [-8.0 7.0 8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		reflectivity: 0.3
	}
	{
		type: "sphere"
		radius: 3.0
		position: [-8.0 -7.0 8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		reflectivity: 0.3
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [-8.0 0.0 8.0]
		direction: [0.0 1.0 0.0]
		shininess: 30.0
		color: "0x00eeeeee"
		reflectivity: 0.3
	}
# 2
	{
		type: "sphere"
		radius: 3.0
		position: [8.0 7.0 8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "sphere"
		radius: 3.0
		position: [8.0 -7.0 8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [8.0 0.0 8.0]
		direction: [0.0 1.0 0.0]
		shininess: 30.0
		glossiness: 2.0
		color: "0x00eeeeee"
		reflectivity: 0.3
	}
# 3
	{
		type: "sphere"
		radius: 3.0
		position: [-8.0 7.0 -8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "sphere"
		radius: 3.0
		position: [-8.0 -7.0 -8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [-8.0 0.0 -8.0]
		direction: [0.0 1.0 0.0]
		shininess: 30.0
		glossiness: 2.0
		color: "0x00eeeeee"
		reflectivity: 0.3
	}
# 4
	{
		type: "sphere"
		radius: 3.0
		position: [8.0 7.0 -8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "sphere"
		radius: 3.0
		position: [8.0 -7.0 -8.0]
		color: "0x00eeeeee"
		shininess: 30.0
		glossiness: 2.0
		reflectivity: 0.3
	}
	{
		type: "cylinder"
		radius: 2.0
		position: [8.0 0.0 -8.0]
		direction: [0.0 1.0 0.0]
		shininess: 30.0
		glossiness: 2.0
		color: "0x00eeeeee"
		reflectivity: 0.3
	}
]
lights: [
	{
		type: "point"
		position: [30.0 0.0 30.0]
		attenuation: [1.2 0.008 0.002]
		intensity: 0.8
		color: "0x00ffffff"
	}
	{
		type: "point"
		position: [-30.0 0.0 30.0]
		attenuation: [1.2 0.008 0.002]
		intensity: 0.8
		color: "0x00ffffff"
	}
]