ambient: 0.1
# "anti aliasing": "4xSSAA"
camera:
	position: [0.0 2.0 30.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
materials: [
	{
		"diffuse color": "0x00ffd700"
		"specular color": "0x00ffd700"
		glossiness: 1.0
		ior: 1.0
	}
	{
		"diffuse color": "0x000000ff"
		"specular color": "0x00555555"
		glossiness: 1.0
		ior: 1.0
	}
	{
		"diffuse color": "0x00a1abba"
		"specular color": "0x00a1abba"
		glossiness: 0.3
		ior: 1.0
	}
	{
		"diffuse color": "0x00555555"
		"specular color": "0x00555555"
		glossiness: 0.3
		ior: 1.0
	}
	{
		"diffuse color": "0x00eeeeee"
		"specular color": "0x00eeeeee"
		glossiness: 0.5
		ior: 1.0
	}
]
shapes: [
# BALL
	{
		relation: "union"
		material: 0
		primitive: {
			type: "sphere"
			position: [0.0 -5.125 10.5]
			# orientation: [0.0 0.0 30.0]
			radius: 1.5
			limitations: [
				{
					type: "y-axis"
					"is relative": true
					"apply if less": true
					limit: -1.0
				}
				{
					type: "y-axis"
					"is relative": true
					"apply if less": false
					limit: 1.0
				}
				{
					type: "x-axis"
					"is relative": true
					"apply if less": false
					limit: 1.0
				}
				{
					type: "x-axis"
					"is relative": true
					"apply if less": true
					limit: -1.0
				}
				{
					type: "z-axis"
					"is relative": true
					"apply if less": true
					limit: -1.0
				}
				{
					type: "z-axis"
					"is relative": true
					"apply if less": false
					limit: 1.0
				}
			]
		}
	}
	{
		relation: "union"
		material: 0
		primitive: {
			type: "sphere"
			position: [0.0 -5.0 5.0]
			radius: 1.5
		}
	}
# WALLS, FLOOR, CEIL
	{
		relation: "union"
		material: 1
		primitive: {
			type: "plane"
			position: [0.0 0.0 -15.0]
			orientation: [-90.0 0.0 0.0]
		}
	}
	{
		relation: "union"
		material: 2
		primitive: {
			type: "plane"
			position: [0.0 -7.0 0.0]
		}
	}
	{
		relation: "union"
		material: 3
		primitive: {
			type: "plane"
			position: [0.0 7.0 0.0]
			orientation: [180.0 0.0 0.0]
		}
	}
# COLUMNS
# 1
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [-8.0 7.0 8.0]
			radius: 3.0
			# limitations: [
			# 	{
			# 		type: "x-axis"
			# 		"is relative": true
			# 		"apply if less": false
			# 		limit: 2.0
			# 	}
			# 	{
			# 		type: "x-axis"
			# 		"is relative": true
			# 		"apply if less": true
			# 		limit: -2.0
			# 	}
			# ]
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [-8.0 -7.0 8.0]
			radius: 3.0
			limitations: [
				# {
				# 	type: "x-axis"
				# 	"is relative": true
				# 	"apply if less": false
				# 	limit: 2.0
				# }
				# {
				# 	type: "x-axis"
				# 	"is relative": true
				# 	"apply if less": true
				# 	limit: -2.0
				# }
			]
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "cylinder"
			radius: 2.0
			position: [-8.0 0.0 8.0]
		}
	}
# 2
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [8.0 7.0 8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [8.0 -7.0 8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "cylinder"
			radius: 2.0
			position: [8.0 0.0 8.0]
		}
	}
# 3
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [-8.0 7.0 -8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [-8.0 -7.0 -8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "cylinder"
			radius: 2.0
			position: [-8.0 0.0 -8.0]
		}
	}
# 4
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [8.0 7.0 -8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "sphere"
			position: [8.0 -7.0 -8.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 4
		primitive: {
			type: "cylinder"
			radius: 2.0
			position: [8.0 0.0 -8.0]
		}
	}
]
lightsources: [
	{
		type: "point"
		position: [15.0 0.0 15.0]
		attenuation: [0.65 0.003 0.001]
		intensity: 0.3
		color: "0x000000ff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "point"
		position: [-15.0 0.0 15.0]
		attenuation: [0.65 0.003 0.001]
		intensity: 0.3
		color: "0x00ff0000"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "point"
		position: [0.0 5.0 -10.0]
		attenuation: [0.65 0.003 0.001]
		intensity: 1.0
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "point"
		position: [0.0 2.0 30.0]
		attenuation: [0.85 0.003 0.001]
		intensity: 0.8
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
]
