camera:
	position: [0.0 0.0 5.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
materials: [
	{
		color: "0x00087508"
		specularity: 0.5
		glossiness: 0.3
		ior: 1.0
	}
]
shapes: [
	{
		relation: "union"
		material: 0
		primitive: {
			type: "cylinder"
			position: [0.0 0.0 0.0]
			radius: 1.0
			orientation: [30.0 0.0 30.0]
		}
	}
]
lightsources: [
	{
		type: "point"
		position: [5.0 0.0 5.0]
		attenuation: [0.75 0.001 0.0005]
		intensity: 0.6
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
]