ambient: 0.15
camera:
	position: [-4.0 1.0 -4.0]
	spot: [-4.0 1.0 1000.0]
	up: [0.0 1.0 0.0]
shapes: [
	{
		type: "sphere"
		radius: 1.0
		position: [0.0 0.0 0.0]
		color: "0x00ff3333"
		shininess: 20.0
		reflectivity: 0.4
	}
	{
		type: "sphere"
		radius: 1.0
		position: [1.0 -1.0 1.0]
		color: "0x0033ff33"
		shininess: 20.0
		reflectivity: 0.4
	}
	{
		type: "sphere"
		radius: 1.0
		position: [-1.0 -1.0 1.0]
		color: "0x003333ff"
		shininess: 20.0
		reflectivity: 0.4
	}
	{
		type: "plane"
		normal: [0.0 1.0 0.0]
		position: [0.0 -2.0 0.0]
		color: "0x004e6993"
		reflectivity: 0.2
		shininess: 40.0
	}
#MIRRORS
	{
		type: "plane"
		normal: [0.0 0.0 1.0]
		position: [0.0 0.0 -5.0]
		color: "0x00111111"
		reflectivity: 0.75
		shininess: 20.0
	}
	{
		type: "plane"
		normal: [0.0 0.0 -1.0]
		position: [0.0 0.0 5.0]
		color: "0x00111111"
		reflectivity: 0.75
		shininess: 20.0
	}
	{
		type: "plane"
		normal: [1.0 0.0 0.0]
		position: [-5.0 0.0 0.0]
		color: "0x00111111"
		reflectivity: 0.75
	}
	{
		type: "plane"
		normal: [-1.0 0.0 0.0]
		position: [5.0 0.0 0.0]
		color: "0x00111111"
		reflectivity: 0.75
	}
	{
		type: "plane"
		normal: [0.0 -1.0 0.0]
		position: [0.0 5.0 0.0]
		color: "0x00111111"
		reflectivity: 0.75
	}
]
lights: [
	{
		type: "point"
		position: [0.0 4.0 0.0]
		attenuation: [0.40 0.005 0.001]
		intensity: 0.8
		color: "0x00ffffff"
	}
]