camera:
	position: [0.0 0.0 10.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
skybox: "clouds"
anti_aliasing: "4xSSAA"
ambient: 0.4
textures: [
	{
		type: "resource"
		uri: "wall.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_specular.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_normal.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_gloss.jpg"
		scale: 13.0
	}
	{
		type: "chess"
		color1: "0x00ff68b4"
		color2: "0x00222222"
		scale: 13.0
	}
]
materials: [
	{
		diffuse_texture: 4
		specular_color: "0x00C0C0C0"
		glossiness: 1.0
		ior: 1.0
	}
	{
		diffuse_texture: 0
		specular_texture: 1
		# normal_map: 2
		glossiness_texture: 3
		ior: 1.0
	}
]
shapes: [
	{
		relation: "union"
		material: 0
		primitive: {
			type: "sphere"
			position: [0.0 0.0 0.0]
			radius: 3.0
		}
	}
	{
		relation: "union"
		material: 1
		primitive: {
			type: "plane"
			position: [0.0 0.0 -20.0]
			orientation: [-90.0 0.0 0.0]
		}
	}
	{
		relation: "union"
		material: 0
		primitive: {
			type: "cylinder"
			position: [0.0 0.0 -10.0]
			orientation: [-30.0 0.0 -30.0]
			radius: 4.0
		}
	}
]
lightsources: [
	{
		type: "point"
		position: [10.0 10.0 0.0]
		attenuation: [1.0 0.0 0.0]
		intensity: 1.0
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
]