camera:
	position: [0.0 0.0 10.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
skybox: "grass"
# anti_aliasing: "4xSSAA"
ambient: 0.1
textures: [
	{
		type: "resource"
		uri: "wall.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_specular.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_normal.jpg"
		scale: 13.0
	}
	{
		type: "resource"
		uri: "wall_gloss.jpg"
		scale: 13.0
	}
	{
		type: "chess"
		color1: "0x0068ffb4"
		color2: "0x00ff6644"
		scale: 13.0
	}
]
materials: [
	{
		diffuse_texture: 4
		specular_color: "0x00C0C0C0"
		glossiness: 0.5
		ior: 1.0
	}
	{
		# diffuse_color: "0x00C0C0C0"
		# specular_color: "0x00C0C0C0"
		# glossiness: 0.1
		diffuse_texture: 0
		specular_texture: 1
		normal_map_texture: 2
		glossiness_texture: 3
		ior: 1.0
	}
	{
		diffuse_color: "0x00C0C0C0"
		specular_color: "0x00C0C0C0"
		glossiness: 1.0
		ior: 1.0
	}
]
shapes: [
	{
		relation: "union"
		material: 0
		primitive: {
			type: "sphere"
			position: [0.0 0.0 0.0]
			orientation: [30.0 0.0 30.0]
			radius: 3.0
			limitations: [
				{
					type: "y-axis"
					is_relative: true
					apply_if_less: true
					limit: -1.0
					cutting: true
				}
				{
					type: "y-axis"
					is_relative: true
					apply_if_less: false
					limit: 1.0
					cutting: true
				}
			]
		}
	}
	{
		relation: "union"
		material: 0
		primitive: {
			type: "cone"
			angle: 15.0
			position: [15.0 5.0 -10.0]
			limitations: [
				{
					type: "y-axis"
					is_relative: false
					apply_if_less: true
					limit: -5.0
					cutting: true
				}
				{
					type: "y-axis"
					is_relative: true
					apply_if_less: false
					limit: -2.0
					cutting: true
				}
			]
		}
	}
	{
		relation: "union"
		material: 1
		primitive: {
			type: "plane"
			position: [0.0 -5.0 0.0]
			orientation: [0.0 0.0 0.0]
			limitations: [
				{
					type: "z-axis"
					is_relative: true
					apply_if_less: false
					limit: 10.0
					cutting: true
				}
				{
					type: "z-axis"
					is_relative: true
					apply_if_less: true
					limit: -25.0
					cutting: true
				}
				{
					type: "x-axis"
					is_relative: true
					apply_if_less: true
					limit: -15.0
					cutting: true
				}
				{
					type: "x-axis"
					is_relative: true
					apply_if_less: false
					limit: 25.0
					cutting: true
				}
			]
		}
	}
	# {
	# 	relation: "union"
	# 	material: 2
	# 	primitive: {
	# 		type: "plane"
	# 		position: [0.0 15.0 0.0]
	# 		orientation: [0.0 0.0 0.0]
	# 		limitations: [
	# 			{
	# 				type: "z-axis"
	# 				is_relative: true
	# 				apply_if_less: false
	# 				limit: 10.0
	# 				cutting: true
	# 			}
	# 			{
	# 				type: "z-axis"
	# 				is_relative: true
	# 				apply_if_less: true
	# 				limit: -25.0
	# 				cutting: true
	# 			}
	# 			{
	# 				type: "x-axis"
	# 				is_relative: true
	# 				apply_if_less: true
	# 				limit: -15.0
	# 				cutting: true
	# 			}
	# 			{
	# 				type: "x-axis"
	# 				is_relative: true
	# 				apply_if_less: false
	# 				limit: 25.0
	# 				cutting: true
	# 			}
	# 		]
	# 	}
	# }
	{
		relation: "union"
		material: 0
		primitive: {
			type: "cylinder"
			position: [0.0 0.0 -10.0]
			orientation: [-30.0 0.0 -30.0]
			radius: 4.0
			limitations: [
				{
					type: "y-axis"
					is_relative: true
					apply_if_less: false
					limit: 3.0
					cutting: true
				}
				{
					type: "y-axis"
					is_relative: false
					apply_if_less: true
					limit: -5.0
					cutting: true
				}
			]
		}
	}
]
lightsources: [
	{
		type: "point"
		position: [-5.0 0.0 -15.0]
		attenuation: [1.0 0.002 0.0004]
		intensity: 1.0
		color: "0x003333ff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "point"
		position: [10.0 -4.0 -10.0]
		attenuation: [1.0 0.002 0.0004]
		intensity: 1.0
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	# {
	# 	type: "point"
	# 	position: [0.0 0.0 0.0]
	# 	attenuation: [1.0 0.002 0.0004]
	# 	intensity: 1.0
	# 	color: "0x000000ff"
	# 	primitive: {
	# 		type: "point"
	# 		position: [0.0 0.0 0.0]
	# 	}
	# }
	{
		type: "spot"
		position: [15.0 0.0 -10.0]
		attenuation: [1.0 0.002 0.0004]
		intensity: 1.0
		direction: [0.0 1.0 0.0]
		angle: 5.0
		color: "0x00ff0000"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "directional"
		direction: [-1.0 -1.0 0.0]
		intensity: 0.4
		color: "0x00ffffff"
	}
]