camera:
	position: [0.0 0.0 10.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
skybox: "clouds"
ambient: 0.4
materials: [
	{
		"diffuse color": "0x00750e08"
		"specular color": "0x00750e08"
		glossiness: 1.0
		ior: 1.0
	}
	{
		"diffuse color": "0x00888888"
		"specular color": "0x00888888"
		glossiness: 1.0
		ior: 1.0
	}
]
shapes: [
	# {
	# 	relation: "union"
	# 	material: 0
	# 	primitive: {
	# 		type: "sphere"
	# 		position: [-5.0 0.0 -5.0]
	# 		radius: 3.0
	# 	}
	# }
	{
		relation: "union"
		material: 0
		primitive: {
			type: "sphere"
			position: [0.0 0.0 0.0]
			# orientation: [0.0 0.0 30.0]
			radius: 3.0
			# limitations: [
			# 	{
			# 		type: "y-axis"
			# 		"is relative": true
			# 		"apply if less": false
			# 		limit: 1.0
			# 	}
			# 	{
			# 		type: "y-axis"
			# 		"is relative": true
			# 		"apply if less": true
			# 		limit: -1.0
			# 	}
			# 	# {
			# 	# 	type: "x-axis"
			# 	# 	"is relative": true
			# 	# 	"apply if less": true
			# 	# 	limit: -1.0
			# 	# }
			# 	# {
			# 	# 	type: "x-axis"
			# 	# 	"is relative": true
			# 	# 	"apply if less": false
			# 	# 	limit: 1.0
			# 	# }
			# ]
		}
	}
	# {
	# 	relation: "union"
	# 	material: 1
	# 	primitive: {
	# 		type: "plane"
	# 		position: [0.0 0.0 -20.0]
	# 		orientation: [-90.0 0.0 0.0]
	# 	}
	# }
]
lightsources: [
	# {
	# 	type: "point"
	# 	position: [-15.0 -1.0 0.0]
	# 	attenuation: [0.75 0.001 0.0005]
	# 	intensity: 0.6
	# 	color: "0x00ffffff"
	# 	primitive: {
	# 		type: "point"
	# 		position: [0.0 0.0 0.0]
	# 	}
	# }
	{
		type: "point"
		position: [10.0 10.0 0.0]
		attenuation: [1.0 0.0 0.0]
		intensity: 1.0
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
]