camera:
	position: [0.0 0.0 15.0]
	spot: [0.0 0.0 0.0]
	up: [0.0 1.0 0.0]
ambient: 0.5
skybox: "clouds"
materials: [
	{
		diffuse_color: "0x00aa0088"
		specular_color: "0x00ffffff"
		glossiness: 1.0
		ior: 1.0
	}
]
shapes: [
	{
		relation: "union"
		material: 0
		primitive: {
			type: "torus"
			position: [0.0 0.0 0.0]
			near_radius: 1.0
			far_radius: 3.0
		}
	}
]
lightsources: [
	{
		type: "point"
		position: [0.0 0.0 0.0]
		attenuation: [1.0 0.002 0.0004]
		intensity: 0.5
		color: "0x00ffffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
	{
		type: "point"
		position: [1.0 -5.0 5.0]
		attenuation: [1.0 0.002 0.0004]
		intensity: 0.6
		color: "0x0000ffff"
		primitive: {
			type: "point"
			position: [0.0 0.0 0.0]
		}
	}
]
